.project-box {
    border: 1px solid dimgray;
    text-align: left !important;
    text-align: left !important;
    text-decoration: none !important;
    font-family: 'LatoRegular' !important;
    color: rgb(41, 41, 41);
    padding: 25px;
    transition: all 200ms ease;
}
.project-box:hover {
    /* border-left: 10px solid rgb(168, 168, 168); */
    text-decoration: none !important;
}
