.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: rgb(211, 211, 211);
    transition: all 300ms ease;
}

.footer:hover {
    background: rgb(179, 179, 179);
}
