.root {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.content-box {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    padding: 10px;
}

.twoColumn {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap-reverse;
}

.timeline {
    flex: 1;
    flex-direction: row;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 2;
}

@media screen and (min-width: 300px) {
    .content-box {
        width: 290px;
    }
    .articleImage {
        width: 300px;
    }
}

@media screen and (min-width: 600px) {
    .content-box {
        width: 560px;
    }
    .articleImage {
        width: 150px;
    }
}

@media screen and (min-width: 900px) {
    .content-box {
        width: 850px;
    }
    .articleImage {
        width: 200px;
    }
}

@media screen and (min-width: 1024px) {
    .content-box {
        width: 960px;
    }
    .articleImage {
        width: 200px;
    }
}

@media screen and (min-width: 1200px) {
    .content-box {
        width: 1024px;
    }
    .articleImage {
        width: 350px;
    }
}

@media screen and (min-width: 1408px) {
    .content-box {
        width: 1200px;
    }
    .articleImage {
        width: 400px;
    }
}
