.top-box {
    background-color: maroon;

    width: 100%;
    color: white;
    font-size: 80px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
}

.gradient-box {
    padding: 20px 0 100px;
    background: -webkit-linear-gradient(
        left,
        #5e7d96 0%,
        #6fd4cf 50%,
        #00e727 99%
    );
    background: linear-gradient(to right, #5e7d96 0%, #6fd4cf 50%, #00e727 99%);
    position: relative;
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
    z-index: 1;
}

.col-image {
    z-index: 99999 !important;
    margin-top: -100px !important;
}

.my-image {
    border-style: inset;
    border: 1px solid white;
}
.lato-font {
    font-family: 'LatoRegular' !important;
}
