.top-box {
    background-color: maroon;

    width: 100%;
    color: white;
    font-size: 80px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
}

/* @media (min-width: 768px){
.x-intro-section {
    padding: 75px 0 340px;
} */
.x-intro-section {
    padding: 20px 0 157px;
    background: -webkit-linear-gradient(
        left,
        #7250d5 0%,
        #aa47a5 50%,
        #f43a67 99%
    );
    background: linear-gradient(to right, #7250d5 0%, #aa47a5 50%, #f43a67 99%);
    position: relative;
    overflow: hidden;
}

.lato-font {
    font-family: 'LatoRegular' !important;
}
