.article-box {
    border: none;
    text-align: left !important;
    text-align: left !important;
    text-decoration: none !important;
    font-family: 'LatoRegular' !important;
    color: rgb(41, 41, 41);
    transition: all 200ms ease;
}
.article-box:hover {
    border-left: 10px solid rgb(168, 168, 168);
    text-decoration: none !important;
}
.article-image {
    /* height: 150px !important;
    width: 150px !important; */
}
.article-link {
    text-decoration: none !important;
}
.article-title {
}
