.underline {
    transform-origin: center 3.5px;
    width: 200px;
    height: 2px;
    position: relative;
    margin-top: -20px;
    left: 0px;
    grid-area: 8 / 1 / 9 / 2;
    justify-self: center;
    align-self: center;
    box-sizing: border-box;
    border-top: 2px solid rgba(223, 49, 67, 1);
}
