@media (min-width: 800px) {
    .GodParent {
        display: flex;
        text-align: center;
    }
    .SecondParent {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .LeftParent {
        flex: 4;
        display: flex;
        background: rgb(215, 247, 255);
        flex-direction: column;
        align-items: center;
    }

    .RightParent {
        background: rgb(255, 255, 172);
        flex: 1;
    }
}

.LeftChildBox1 {
    background: rgb(255, 128, 238);
    flex: 1;
    order: 1;
}
.LeftChildBox2 {
    background: rgb(158, 255, 48);
    flex: 1;
    order: 3;
}
.LeftChildBox3 {
    background: rgb(1, 155, 194);
    flex: 1;
    order: 2;
}

.SecondBox1 {
    background: red;
    flex-basis: 20%;
}
.SecondBox2 {
    background: green;
    flex-basis: 20%;
}

.SecondBox3 {
    background: hotpink;
    flex-basis: 20%;
}
