@import '../../../theme/layout.scss';

.boxTop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact :nth-child(3) {
    padding-top: 15px;
}

.contact :nth-child(n + 3) {
    line-height: 25px;
}

.message {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
