/*
   * Sidebar
*/

.sidebar {
    z-index: 100;

    justify-content: center;
    align-content: center;
    background-color: grey;
}

.sidebar-sticky {
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.user-fullname {
    font-family: 'LatoRegular';
    font-size: 25px;
    margin-top: 5px;
    padding: 5;
    color: white;
}
